<div class="themes">
  <div class="scrollbar-inner">
    <a href="" class="themes__item active" data-sa-value="1"><img src="/demo/img/bg/1.jpg" alt=""></a>
    <a href="" class="themes__item" data-sa-value="2"><img src="/demo/img/bg/2.jpg" alt=""></a>
    <a href="" class="themes__item" data-sa-value="3"><img src="/demo/img/bg/3.jpg" alt=""></a>
    <a href="" class="themes__item" data-sa-value="4"><img src="/demo/img/bg/4.jpg" alt=""></a>
    <a href="" class="themes__item" data-sa-value="5"><img src="/demo/img/bg/5.jpg" alt=""></a>
    <a href="" class="themes__item" data-sa-value="6"><img src="/demo/img/bg/6.jpg" alt=""></a>
    <a href="" class="themes__item" data-sa-value="7"><img src="/demo/img/bg/7.jpg" alt=""></a>
    <a href="" class="themes__item" data-sa-value="8"><img src="/demo/img/bg/8.jpg" alt=""></a>
    <a href="" class="themes__item" data-sa-value="9"><img src="/demo/img/bg/9.jpg" alt=""></a>
    <a href="" class="themes__item" data-sa-value="10"><img src="/demo/img/bg/10.jpg" alt=""></a>
  </div>
</div>
